/* sidebar header  */
.sidebarHeader {
  padding: 0px 0px 0px 0px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9;
}
.sidebarHeader > .topIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 17px 15px 17px;
  background-color: #fff;
}

.sidebarHeader button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sidebarHeader button:focus {
  outline: none;
}

.sidebarHeader button svg {
  height: 30px;
  width: 30px;
}
.backSidebar:hover {
  background-color: #1a7cbe;
  border-radius: 4px;
}
.backSidebar:hover svg line {
  stroke: #fff !important;
}
.backSidebar:hover svg path {
  fill: #fff !important;
}
.searchOuter {
  padding: 15px 0 5px 0;
}
.resultcardOuter {
  padding: 15px;
}

/* filter compnay list css */
.filterComplanyList {
  padding: 0px 12px 1px 15px;
  border-bottom: 1px solid #cacaca;
  max-height: 110px;
  overflow-y: auto;
}
.filterComplanyList ul {
  padding: 0;
  margin: 0;
  display: flex;

  align-items: center;
  justify-content: space-between;
  min-width: 50%;
  flex-wrap: wrap;
}
.filterComplanyList ul li {
  list-style-type: none;
  flex: 0 0 48%;
  text-align: center;
  min-height: 40px;
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(26, 124, 190, 0.1);
  line-height: 14.5px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #666;
  cursor: pointer;
}
.filterComplanyList ul li.active {
  background: #1a7cbe;
  color: #fff;
}

.filterComplanyList ul.oneChild li {
  flex: 0 0 100%;
}
