.anticon-close-circle svg {
  height: 21px;
  width: 20px;
}
.rangeStyle {
  border: 1px solid #969fa8;
  box-sizing: border-box;
  border-radius: 4px;
}

.ant-dropdown-menu {
  margin: 10px 20px 0px 0px !important;
  width: 100%;
}
hr {
  opacity: 20%;
  margin: 0;
}
.ant-dropdown-trigger {
  padding: 7px;
  position: absolute;
  right: 168px;
  top: 3px;
}
.root-date-picker {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.root-date-picker button {
  margin-left: 20px;
}
.ant-picker {
  border-radius: 4px !important;
  border: 1px solid #969fa8 !important;
}
.ant-picker:hover {
  border: 1px solid #4e4f50 !important;
}

.ant-picker-input > input::placeholder {
  color: #666666 !important;
}
.home-button {
  height: 40px;
  color: #fff !important;
  padding-left: 80px;
}
.homeIcon:hover {
  background-color: #1a7cbe;
}
.homeIcon:hover > path {
  fill: white;
}
