.chips-items {
  /* display: flex; */
  align-items: baseline;
  padding-top: 15px;
  padding-bottom: 10px;
}
.clear-all {
  display: inline;
  margin-left: 8px;
  color: #1A7CBE;
  font-weight: 400;
  cursor: pointer;
  width: 10px;

}
.PrivateNotchedOutline-legendNotched-4 {
  transition: none !important;
}
.PrivateNotchedOutline-legendLabelled-3 {
  display: none !important;
}
.MuiFormLabel-root.Mui-focused {
  display: none !important;
}
.MuiAutocomplete-groupLabel {
  color: #1A7CBE !important;
  font-size: 12px !important;
  /* padding-bottom: -5px !important; */
  letter-spacing: 2px !important;
  height: 35px !important;
  /* text-decoration: underline !important ; */
  /* border-bottom: solid 1px #1A7CBE; */
}
.MuiChip-root {
  margin-right: 8px !important;
  margin-bottom: 5px !important;
  background-color: rgba(189, 206, 219, 0.3)!important;
  color: #2C3E50 !important;
  font-size: 13px !important;
  height: 28px !important;
}  

.MuiInputLabel-outlined{
  top: -10px !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  /* border-color: #d9d9d9 !important ; */
  border: solid 1px #888 !important;
}

.MuiAutocomplete-option[data-focus="true"]{
  background-color: #eef7fd !important;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"], .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  height: 50px !important;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.company-heading {
color: #8a8a8a;
font-size: 12px;  
margin-bottom: 12px;
/* padding-bottom: -2px !important; */
}  
.dropdown-text{
  font-size: 14px;
  font-family: "Liber", sans-serif !important;
  /* letter-spacing: 1px !important; m  */

}