.PrivateNotchedOutline-legendNotched-4 {
  transition: none !important;
}
.PrivateNotchedOutline-legendLabelled-3 {
  display: none !important;
}
.MuiFormLabel-root.Mui-focused,
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  display: none !important;
}
.MuiAutocomplete-groupLabel {
  color: #1a7cbe !important;
  font-size: 12px !important;
  letter-spacing: 2px !important;
  height: 35px !important;
}
#SelectCompanyBox .MuiChip-root {
  height: 28px !important;
  border-radius: 12px !important;
}

.MuiInputLabel-outlined {
  top: -10px !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  /* border-color: #d9d9d9 !important ; */
  border: solid 1px #888 !important;
}

#SelectCompanyBox .MuiAutocomplete-option[data-focus="true"] {
  background-color: #eef7fd !important;
}

.MuiAutocomplete-hasPopupIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"],
.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  height: 36px !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 4px !important;
  padding-top: 0px !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]
  .MuiAutocomplete-input {
  padding: 0px !important;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.company-heading {
  color: #8a8a8a;
  font-size: 12px;
  margin-bottom: 12px;
}
.dropdown-text {
  font-size: 14px;
}
.MuiAutocomplete-groupUl .MuiAutocomplete-option {
  padding-left: 16px !important;
}
.clear-all {
  display: inline;
  margin-left: 8px;
  color: #1A7CBE;
  font-weight: 400;
  cursor: pointer;
}
.chips-items {
  padding-left: 10px;
}
