#DocumentTypeSelect-popup .MuiAutocomplete-option[aria-selected="true"] {
  background-color: #ffff !important;
}
#DocumentTypeSelect-popup .MuiAutocomplete-option,
#DocumentTypeSelect-popup .MuiAutocomplete-option[data-focus="true"],
#DocumentTypeSelect-popup .MuiAutocomplete-option[aria-selected="true"] {
  background-color: #ffff !important;
  height: 42px;
}
.PrivateNotchedOutline-root-1 .MuiOutlinedInput-notchedOutline {
  border-radius: 4px !important;
}
.MuiOutlinedInput-notchedOutline:hover {
  border: 0.0625em solid #969fa8 !important;
  box-shadow: 0 0 0 2px rgba(150, 159, 168, 0.2) !important;
}

.MuiAutocomplete-option[data-focus="true"] {
  background-color: transparent !important;
}
.MuiAutocomplete-option[data-focus="true"] {
  background-color: rgba(0, 0, 0, 0);
}
.MuiAutocomplete-option[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0);
}
#DocumentTypeSelect-popup li:hover {
  background-color: #ffff !important;
}
#DocumentTypeSelect-popup .MuiAutocomplete-listbox,
.MuiAutocomplete-paper .MuiAutocomplete-listbox,
.MuiAutocomplete-listbox {
  overflow-x: hidden !important;
}
.MuiChip-label {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
