.outerDiv{
    display: flex;
}
.sideBar{
    width: 500px;
    background-color: gray;
    opacity: 20%;
}
.header{
    width: auto;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.element{
    height: 36px;
    width: 400px;
    padding: 1%;
}